[submodule "hugo-casper-two"]
	path = hugo-casper-two
	url = https://github.com/eueung/hugo-casper-two
[submodule "themes/casper-two"]
	path = themes/casper-two
	url = https://github.com/eueung/hugo-casper-two
